body{background-color: black;}

.phần1{background-color: white;
    width: 1000px;
    padding-left: 40px;}

.phần1  h3{background-color: black;
    color: white;
    width: 30%;
    padding: 30px  70px  10px 20px;}


.intro  {margin-left: 160px;
    padding-bottom: 10px ;
    color: gray   }

.intro h1{font-size: 70px;
    margin: 0}

.container{display: grid;
    grid-template-columns: 30%  60%;
    column-gap: 10%;
    row-gap: 30px;
    padding-left: 40px;
    float: left;}

.container .avatar  img{width: 200px;
    height: 200px;}

.pro{padding: 50px;
    color: aqua;
    background-color: bisque;}