html{font-size: 20px;
    background-color: antiquewhite;}

h1{font-size: 2rem;
    border-bottom:solid rgb(116, 116, 37);
    padding: 0  0   20px    0;}

#main{margin: 20px    0   20px    0   ;
    padding:    0   40px    0   40px;
    width: 1000px;}

#ảnh{width: 900px;
    height: 600px;
    border-radius: 40px  40px  40px  40px;    }