html{font-size: 20px;
     color:purple;}

h1{font-size: 2rem;
    color: red;
    text-transform: uppercase;
    text-align: center;}

h3{font-size: 1.5rem;
    color: blue;
    text-transform: capitalize;}

#main{margin: 20px  0    20px  0;
padding:      0   40px   0   40px;
width: 1600px}

#ảnh{width: 1500px;
     height: 800px;
     border-radius:  40px  40px  40px  40px;}